source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FSharp.Compiler.Service
nuget Argu
nuget Glob
nuget Ionide.ProjInfo.ProjectSystem
nuget Microsoft.Build.Locator
nuget McMaster.NETCore.Plugins

# don't expose as a package reference
nuget Microsoft.SourceLink.GitHub copy_local: true

# don't include runtime assets
nuget Microsoft.Build.Tasks.Core copy_local: false
nuget Microsoft.Build.Utilities.Core copy_local: false
nuget Microsoft.Build copy_local: false

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json

    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.DotNet.Cli
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Paket
    nuget Fake.Tools.Git
    nuget Fake.Core.Environment
    nuget Fake.Core.UserInput
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.MsBuild
    nuget Fake.Api.GitHub
    nuget Octokit < 0.50 # 50 has api compat issues with Fake's Github module