source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FSharp.Compiler.Service
nuget Argu
nuget Glob

git https://github.com/ionide/dotnet-proj-info.git rewrite
// build: "dotnet fake build", Packages: /bin/pkgs/, OS: windows
nuget Microsoft.Build
nuget Microsoft.Build.Locator
nuget McMaster.NETCore.Plugins
nuget Newtonsoft.Json
// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json

    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.DotNet.Cli
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Paket
    nuget Fake.Tools.Git
    nuget Fake.Core.Environment
    nuget Fake.Core.UserInput
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.MsBuild
    nuget Fake.Api.GitHub
