type project
id FSharp.Analyzers.SDK
description
  SDK for building custom analyzers for FSAC / F# editors
authors
  Krzysztof Cieslak
copyright
	Copyright 2018 Lambda Factory
summary
  SDK for building custom analyzers for FSAC / F# editors
licenseurl https://github.com/Krzysztof-Cieslak/FSharp.Analyzers.SDK/blob/master/LICENSE.md
projecturl https://github.com/Krzysztof-Cieslak/FSharp.Analyzers.SDK
include-pdbs true
tags
  F#, analyzers, compiler, tooling, editor